<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>task details</title>
</head>
<body>
    <input name="is_task_done_checkbox" type="checkbox" value="Done"
               {% if task.checked %} checked {% endif %}
    <b>{{ task.text }}</b>
    <form method="post">
        {%csrf_token%}
        {{form}}
      <button type="submit">Save</button>
    </form>
</body>
</html>