<html>
  <head>
    <title>Tasks</title>
  </head>
  <body>
    <h1>All tasks</h1>
    <ul>

    {% for task in tasks %}
        <li>
            <input name="is_task_done_checkbox" type="checkbox" value="Done"
                   {% if task.checked %} checked {% endif %}
            />
            <a href="/tasks/{{task.id}}">
                <b>{{ task.text }}</b>
            </a>
        </li>
    {% endfor %}
    </ul>
  <form method="post">
      {%csrf_token%}
      {%for field in form%}
        {% if field.field.name == "checked" %}
           {{field}}
        {% endif%}
          <div class="wrapper">
              {{field.label_tag}}
              {{field}}
              <ul class="">
                  {% for error in field.errors %}
                    <li> {{ error|escape }} </li>
                  {% endfor %}
              </ul>
          </div>
      {%endfor%}

      <!--<label for="{{form.text.id_for_label}}"></label>-->
      <!--<input id="{{form.text.id_for_label}}" value="{{form.text.value}}">-->
      <!--{% if form.text.field.max_lenght %}-->
        <!--max_lenght = "{{form.text.field.field.max_lenght}}"-->
      <!--{% endif %}-->

      <!--{{form.as_p}}-->
      <button type="submit">Save</button>
  </form>
  </body>
</html>